.form-item div img{
	
		width:300px;
	    height:200px;

}

ul.products-wrp {
	list-style: none;
	padding: 0;
	max-width: 850px;
	margin-left: auto;
	margin-right: auto;  
	color: #777;  
	text-align: center;
	margin-top:92px;
	margin-bottom: 50px;
}

ul.products-wrp li{
	width:200 px;
	display: inline-block;
	border: 1px solid #ECECEC;
	margin: 5px;
	background: #fff;
	text-align: center;
}


ul.products-wrp img{
	width:200px;
	height:200px;
}


ul.products-wrp li h4{
	margin: 0;
	padding: 0;
	text-align: center;
	border-bottom: 1px solid #FAFAFA;
	font-size:14px;
}
ul.products-wrp li .item-box{
	border: 1px solid #EAEAEA;
	background: #F9F9F9;
	margin: 0;
	padding-bottom:5px;
	text-align:center;
}
ul.products-wrp li .item-box div{
	margin-bottom:5px;
}
ul.products-wrp li .item-box button{
	margin-left: 5px;
	background: #500E50;
	border: none;
	padding: 3px 8px 3px 8px;
	color: #fff;
	cursor:pointer;
	margin-left:27px;
	width: 140px;
height: 35px;
margin-left: auto;
margin-right: auto;
display: block;
	font-family: 'DroidKufi-Regular';
}
ul.products-wrp li .item-box button[disabled=disabled]{
	background: #FC84A8;
}

.cart-box {
	display: block;
	width: 30px;
	background: rgba(219, 0, 33, 1) url(../images/cart-icon.png) no-repeat 20px 5px;
	padding: 4px 8px 4px 8px;
	border-radius: 30px;
	color: #fff;
	font-family: Arial;
	font-size: 16px;
	text-decoration: none;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.32);
	margin-right: auto;
	margin-left: auto;
	font-weight: bold;
}
.cart-box:hover{
	background: #F4B2FD url(../images/cart-icon.png) no-repeat 20px 5px;
}
.shopping-cart-box{ 
	position:fixed;
	z-index:999999999;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
	max-width: 450px;
	color:#FFFFFF;
	background: #500E50;
	border-radius: 4px;
	padding: 10px;
	font-family: 'DroidKufi-Bold'; 
	top: 100px;
	display:none;
	font-size: 14px;
}
.shopping-cart-box a{
	color: #FFD5D5;
	text-decoration:none;
	font-size: 12px;
	float: left;
}
.shopping-cart-box:after {
	content: '';
	position: absolute;
	bottom: 100%;
	left: 50%;
	margin-left: -8px;
	width: 0; height: 0;
	border-bottom: 8px solid #500E50;
	border-right: 8px solid transparent;
	border-left: 8px solid transparent;
}
.shopping-cart-box ul.cart-products-loaded{
	margin: 0;
	padding: 0;
	list-style: none;
}
.shopping-cart-box .close-shopping-cart-box{
  float: left;
}
#shopping-cart-results ul.cart-products-loaded li{
	background: #f4b2fd;
	margin-bottom: 1px;
	padding: 6px 4px 6px 10px;
}
.shopping-cart-box .remove-item{
	float:right;
	text-decoration:none;
}
.shopping-cart-box .cart-products-total{
	font-weight: bold;
	text-align: right;
	padding: 5px 0px 0px 5px;
	direction: rtl;
}
.shopping-cart-box h3{
	margin:  0px 0px 0px 350px;
	padding: 0px 0px 5px 0px;
	font-size: 15px;
	float: none;
}

ul.view-cart {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  background: #fff;
  padding: 15px 15px 15px 25px;
  list-style: none;
}

ul.view-cart {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  background: #fff;
  padding: 15px 15px 15px 25px;
  list-style: none;
  border: 1px solid #ECECEC;
  border-radius: 4px;
}
ul.view-cart li span{
    float: right;
}
ul.view-cart li.view-cart-total{
  border-top: 1px solid #ddd;
  padding-top: 5px;
  margin-top: 5px;
  text-align: right;
}
hr{
	border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.bottom_menu{
	list-style-type: none;
	position:fixed;
	left:0;
	right:0;
	bottom:0;
	width:100%;
    margin: 0;
    padding: 0;
	background:rgba(80,15,80,0.8);
	text-align:center;
}


.bottom_menu li{
	display:inline;
}

.bottom_menu li a{
	display: inline-block;
	color:#FFFFFF;
    text-align: center;
	margin-top: 7px;
	margin-bottom:7px;
	padding-right:7px;
	padding-left:7px;
    text-decoration: none;
	border-right:1px solid #FFF;
	font-size:0.7em;
	text-transform:none;
}



.nekati{
	background:transparent radial-gradient(ellipse at center center ,    #EDEDED 50%, #c2c2c2 100%) repeat fixed 0% 0%;
}


.n8ati_items{
	width:350px;
	height:auto;
	margin-right:auto;
	margin-left:auto;
	margin-top:92px;
	margin-bottom:50px;
}


.ne8ati{
	width:150px;
	margin:10px;
	height:auto;
	display:inline-block;
}

.ne8ati img{
	width:100%;
	height:auto;
}
.ne8ati p{
	display:block;
	text-align:center;
	color:#500E50;
	margin:0;
	padding:0;
	direction:rtl;
	line-height:20px;
}












@media only screen and (max-width: 370px){
	.n8ati_items{
		width:170px;
	}
	
	
}


.main_items{
	width:45%;
	margin-left:auto;
	margin-right:auto;
	height:auto;
	padding-bottom:20px;
	cursor:pointer;
}


	
@media only screen and (max-width: 1200px){
	

	
}


@media only screen and (max-width: 1000px){

}





@media only screen and (max-width:850px){
	ul.products-wrp{
		width:430px;
	}

}




@media only screen and (max-width: 440px){
	ul.products-wrp{
		width:250px;
	}

	
	
}

@media only screen and (max-width: 350px){
	.n8ati_items{
		width:170px;
	}

}

